body, html {
    margin: 0px;
}

* {
    font-size: 1rem;
}

p {
    margin: 0;
}

a {
    padding-top: 3%;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2, minmax(100px, 2%));
    align-items: center;
    background-color: lightblue;
}
/*HEADER STYLING START*/

.row-one-group {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 1 / 3 ;
    align-items: center;
}

.row-one-right {
    display: flex;
    align-items: center;
    gap: 10%;
}

.row-one-left {
    display: flex;
    gap: 3%;
}

.row-one-left, .row-two-left {
    padding-left: 5%;
}

.row-one-group input {
    width: 70%;
    border-radius: 10px;
}

.row-two-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 3;
    grid-row: 2;
}


.row-two-left {
    display: grid;
    grid-template-columns: 13% 1fr;
}

.hello-message {
    grid-column: 2;
}


.row-two-right {
    display: flex;
    justify-content: center;
    gap: 15%;
}
/*HEADER STYLING END*/

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: blue;
    grid-column: 2 / 3;
    padding: 3%;
}


.card-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 2;
    gap: 20px;
    margin-right: 5%;

}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid silver;
    border-radius: 10px;
    padding: 5%;
    background-color: white;
}

.anouncements-trending-container {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
}

.announcements {
    background-color: orange;
    padding: 8%;
    border: 2px solid silver;
    border-radius: 10px;
}

.trending {
    background-color: red;
    padding: 8%;
    border: 2px solid silver;
    border-radius: 10px;
}



/*SIDE BAR START*/

.sidebar {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.link-section-one,
.link-section-two {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.sidebar-logo h1 {
    margin-bottom: 0;
}

/*SIDE BAR END*/

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.icon-profile-header {
    width: 2rem;
    height: 2rem;
    border: 2px solid transparent;
    border-radius: 50%;
    object-fit: cover;
}

.icon-profile-header-row-two {
    width: 4rem;
    height: 4rem;
    border: 2px solid transparent;
    border-radius: 50%;
    object-fit: cover;
}